h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 7px;
    text-transform: uppercase;
    color: #fff;
}
.carousel-caption span {
    text-shadow: 2px 2px #342020;
}
a.read_more{
    padding: 1px;
}
.send{
    float: right;
}
.star_desc{
    padding: 2px;
}
.comments h3{
    margin-top: 20px;
}
.comment_date{
    font-size: 10px;
    padding: 2px;
}
.comment_name,.comment_body{
    padding: 1px;
}
.inner_page button{
    line-height: 1px;
}
.comments .control-label {
    margin-top: 15px;
}
.card-user .button-container {
    margin-bottom: 6px;
    text-align: center;
    position:absolute;
    bottom:2px;
    right:11px;
}
a.btn.btn-round{
    padding: 5px;
}
.product_box div span {
    float: right;
}
.search-side{
    margin-left: 110px;
}
.location_icon_bottum_tt {
    text-align: right;
}
.profile-dropdown{
    text-align: left;
}
#icon-user{
    padding-left: 10px;
    padding-right: 0;
}
.profile-dropdown .card-user{
    padding-right: 12px;
}
.icon-user-info{
    margin-left: 3px;
}
.profile-dropdown {
    font-size: 12px;
}
.shop_price{
    text-align: left;
    line-height: 12px;
}
